<h1>Vampire Shark Werewolf Ninjas!!</h1>
<p>Are totally from the moon - i.e. Space Ninjas</p>

<%- if user_likes_page? -%>
  <p>but you probably already knew that.</p>
<%- else -%>
  <p>Not a fan, eh? If you like us, you'll be exempt from the coming takeover. Your call.</p>
<%- end -%>
